* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  min-height: 100vh;
}

/* SIDEBAR */
.sidebar {
  width: 250px;
  background: linear-gradient(180deg, #6c5ce7, #a29bfe);
  color: white;
  padding: 20px;
}

.sidebar h2 {
  margin-bottom: 10px;
}

.sidebar button {
  display: block;
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  background: transparent;
  color: white;
  text-align: left;
  cursor: pointer;
  border-radius: 5px;
}

.sidebar button:hover {
  background: rgba(255,255,255,0.2);
}

/* MAIN */
.main {
  flex: 1;
  padding: 30px;
  background: #f1f2f6;
}

/* INPUT */
.input-box {
  display: flex;
  margin-top: 20px;
}

.input-box input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.input-box button {
  margin-left: 10px;
  padding: 10px 15px;
  border: none;
  background: #6c5ce7;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

/* PROGRESS */
.progress-section {
  margin-top: 20px;
}

.progress-bar {
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.progress-bar div {
  height: 100%;
  background: green;
  border-radius: 5px;
}

/* TASK */
.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  margin-top: 15px;
  padding: 12px;
  border-radius: 10px;
}

.left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.done {
  text-decoration: line-through;
  color: gray;
}

.status {
  background: orange;
  padding: 3px 8px;
  border-radius: 10px;
  font-size: 12px;
}

/* RIGHT BUTTONS */
.right button {
  margin-left: 8px;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 5px;
}

/* MOBILE */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }

  .input-box {
    flex-direction: column;
  }

  .input-box button {
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }
}